* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.header {
	width: 100%;
	box-sizing: border-box;
	height: 100px;
}

.menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}